#output table {
    border-collapse: collapse;
}

#output thead th {
    border-bottom: medium dashed;
    border-top: medium dashed;
    padding: 2px 5px 2px 5px;
}

#output tbody tr:last-child td {
    border-bottom: medium dashed;
}

#output tbody tr {
    text-align: center;
}
#output tbody td {
    text-align: center;
    padding: 8px;
}
